*.pyc

# Packages
/dist/*

# Unit test / coverage reports
.coverage
.pytest_cache

.DS_Store
.idea/*
.python-version
.vscode/*

/docs/site/*
/docs/build/*
/docs/source/generated/*
.mypy_cache

.venv/*
venv
poetry.toml
poetry.lock
*.h5ad
.ruff_cache/*
