name: Ruff Linter

on: [push, pull_request]

permissions:
  contents: read

jobs:
  build:
    name: Check code syntax and style
    runs-on: tenki-standard-autoscale
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install --with test
      - name: Lint with ruff
        run: |
          poetry run ruff check --config pyproject.toml
